.oreder-item{
      padding-bottom: 33px;
         display:flex;
  justify-content:center;
  align-items: center;
     font-size: 48px;
    color: white;
}
.text-card{
    position: absolute;
}
.photo-card{
    position: relative;
     display:flex;
  justify-content:center;
  align-items: center;
 
}
.card-reviews{
  padding-right: 93px; 
}
